header {
    margin: 2rem 0rem 0rem 0rem;
    border: solid black 2px;
    background-color: rgb(202, 177, 192);

    nav {
        width: 100%;

        ul {
            display: flex;
            list-style: none;
            justify-content: space-around;

            li {
                a {
                    text-decoration: none;
                    color: black;
                    background-color: rgb(182, 56, 67);
                    padding: 0.4rem 1.6rem;
                    border: solid black 1px;
                }

            }
        }

    }

}