

@media all and (max-width:1500px){ 
    .marcas{
        display: flex;
        flex-direction: column;
    }
    .contenedor {
        display: flex;
        flex-direction: column;
    }
    #autos{
        grid-template-columns: 1fr 1fr;

     }
     .fondo{
        height: 30rem;
        width: 55%;
    }

      .imagenhistoria{
        height: 30rem;
        width: 55%;
      }
    }



@media all and (max-width:750px){ 
    .marcas{
        display: flex;
        flex-direction: column;
    }
    .contenedor {
        display: flex;
        flex-direction: column;
    }
    #autos{
        grid-template-columns: 1fr 1fr;

     }
     .fondo{
        height: 30rem;
        width: 70%;
    }
     .imagenhistoria{
        height: 30rem;
        width: 70%;
     }
    }
     @media all and (max-width:478px){
        #autos{
        grid-template-columns: 1fr;
        
     }
    
     
        .flexfooter{
        display: flex;
     }
     
        .marcas{
        height: 30rem;
        width: 70%;}
       
        .imagenhistoria{
        height: 30rem;
        width: 70%
    } }