$navcolor:red;  
//aca se aplica variable//


.active {

    background-color: $navcolor;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(0, 0, 0);
    background-color: rgb(156, 76, 76);
}
